<footer class='bidplace-footer'>
  <div class='bidplace-footer-content'>
    <div class='bidplace-footer-row'>
      <img src='images/logo-footer.svg' class='logo logo-footer' />
      <p>© BidPlace</p>
    </div>
  </div>
</footer>